:root {
  --color-danger-pink: #d6336c;
  --color-text-gray: #d3d3d3;
}

a {
  text-decoration: none;
}

.logo {
  color: var(--mantine-color-cyan-8);
}

.logo:visited {
  color: var(--mantine-color-cyan-8);
  /* color: #6b6b6b */
}
